*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
}

.content {
  display: flex;
  width: 1140px;
  margin: auto;
  gap: 30px;
  align-items: flex-end;
}

.content__details {
  align-self: stretch;
  width: 100%;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 15px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__list-item:not(:last-of-type){
  margin-bottom: 34px;
}

/* Это правило нужно чтобы у кнопки "Показать ещё" полность показывалась 
   обводка (outline) в состоянии :focus-visible */
li:has(.more-button) {
  margin: 3px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  width: 192px;
  height: 103px;
  display: block;
}

.content__video-card-description-container {
  flex-grow: 1;
  padding: 2px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 3px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
  padding-bottom: 1px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border: none;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: #fff;
  border-top-width: 1px;
  border-top-style: solid;
  appearance: none;
  width: 225px;
  color: #fff;
  vertical-align: top;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  line-height: 22px;
  border: 1px solid #fff;
  padding: 5px 0 5px 0;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button {
  width: 100%;
}

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  display: inline-block;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:hover:has(.search-form__textfield) {
  text-decoration: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

input[type='checkbox']:checked + span::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link:active {
  background-color: #545050;
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
  outline: none;
}